#titulo_idoso_remed {
    width: 63%;
    margin-left: 23.5%;
}
#titulo_lista {
    width: 22.5%;
    margin-left: 43.5%;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins" , sans-serif;
}
body {
    background-color: #72cdfe;
    background-size: cover;
    background-position-x: 700px;
    background-position-y: 50px;
   
}
textarea:focus, input:focus {
    outline: none;
}
/* botaozinho */
a:hover {
    color: blue;

}
.lista-container {
    border:solid 5px;
    border-radius:0px 20px 0px 20px;
    border-color: #fff;
    background-color: #A8DADC;
    /* height: 77%; */
    width: 60%;
    margin-left: 25%;
    margin-right: auto;
    padding: 20px 2%;
    overflow:auto; 
    margin-top: 1%;
    border-radius: 10px;
    text-transform: uppercase;
    
}
.lista-container#um {
    height: 77% !important;
}
a {
font-weight: bold;
cursor: pointer;
}
td, th {
    border-width: medium;
    border-style: solid;
   
    /* border-radius: 10px; */
    text-align: left;
    font-size: x-large;

}

/* tamanho do nome dos idosos */
td.texto, th.texto {
    width: 600px;
    height: 30px;
    padding-left: 15px;
}

td.text-center, th.text-center {
    width: 50px;
    height: 40px;
    
}

td.id, th.id {
    width: 50px;
    height: 40px;
}
thead{
    background-color: #457B9D;
}
.texto {
    width: 30px;
}
/* tamanho dos icones da lista */
.text-center i {
    font-size: 25px;
    margin-top: 7px;
}



.thead {
    /* position: fixed; */
}

.tbody {
    position: relative;
    overflow: auto;

}
    #bot {
        width: 50px; height: 40px;
    }
@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body{
  background: #f2f2f2;
  font-family: 'Open Sans', sans-serif;
}

table {
    margin-top: 0 !important ;
    margin-left: 0.5% !important;
    padding: 100px !important;
}

#sla {
    display: none;
}

@media (max-device-width: 700px) {
    #titulo_lista {
        width: 60%;
        margin-left: 33%;
    }
    #titulo_idoso_remed {
        width: 75%;
        margin-left: 23%;
    }
    .lista-container {
        border:solid 5px;
        border-radius:0px 20px 0px 20px;
        border-color: #fff;
        background-color: #A8DADC;
        /* height: 77%; */
        width: 73%;
        margin-left: 25%;
        margin-right: auto;
        padding: 15px 20px;
        overflow:auto; 
        margin-top: 2%;
        border-radius: 10px;
        text-transform: uppercase;
        
    }

    .wrap{
        padding: 0px 20px;
        position: relative;
        top: 10px;
        left: 50% !important;
        right: auto;
        transform: translate(-50%, -50%);
        
        
      }
    .search {
        width: 100%;
        position:static   ;
        display: flex;
        bottom: 1px;
      }
      
      .searchTerm {
        width: 100%;
        border: 3px solid #00B4CC;
        border-right: none;
        padding: 15px;
        height: 20px;
        border-radius: 5px 0 0 5px;
        outline: none;
        color: #9DBFAF;
      }
      
      .searchTerm:focus{
        color: #00B4CC;
      }
      
      .searchButton {
        width: 40px;
        height: 36px;
        border: 1px solid #00B4CC;
        background: #00B4CC;
        text-align: center;
        color: #fff;
        border-radius: 0 5px 5px 0;
        cursor: pointer;
        font-size: 20px;
      }
      #table {
        margin-top: 0 !important ;
        /* margin-left: 0.5%; */
        /* padding: 100px !important; */
    }
    #bot {
        width: 30px; 
        height: 30px;
    }
    #some {
        display: none;
    }
    #sla {
        display: block;
        color: #000;
    }
}